@use "@angular/material" as mat;
@include mat.core();

html, body {
  height: 100%;
  --mdc-list-list-item-label-text-color: #ffffff;
  --mdc-list-list-item-leading-icon-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --primary-color: #1DB954;
}

$mat-primary: (
  main: #1DB954,
  lighter: #27e76a,
  darker: #116e31,
  200: #1DB954,
  contrast:(
    main: #ffffff,
    lighter: #ffffff,
    darker: #ffffff
  )
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,'list': (
    'item': (
      'text-color': #ffffff // Hier die gewünschte Farbe eintragen
    )
  )

));

@include mat.list-theme($my-theme);
@include mat.tabs-theme($my-theme);

* {
  -webkit-user-drag: none; /* Webkit-Browser (Chrome, Safari) */
  -webkit-user-select: none; /* Webkit-Browser (Chrome, Safari) */
  -moz-user-select: none; /* Mozilla-Browser (Firefox) */
  -ms-user-select: none; /* Internet Explorer */
  user-select: auto; /* Standard */
}




/* Fett */
.font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* oder 'bold' */
}

/* Dünn */
.font-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
