.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.menu-logo{
  display: flex;
  align-items: center;
  gap: 16px;

  button{
    margin-left: -6px;
  }

  img{
    height: 24px;
  }
}

mat-sidenav, mat-sidenav-content{
  transition: all 300ms ease-in-out;
}


.toggle-menu {
  display: flex;
  align-content: start;
}

.layout-box {
  display: flex;
  height: 93%;
}

mat-sidenav-container {
  display: flex;
  width: 100%;
}


.router {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

