.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}


.toggle-menu {
  display: flex;
  align-content: start;
}

.layout-box {
  display: flex;
  height: 93%;
}

mat-sidenav-container {
  display: flex;
  width: 100%;
}

.mat-drawer {
  width: 25%;
  max-width: 300px;
}

.router {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

@media screen and (max-width: 515px) {
  .mat-drawer {
    width: 60px;
  }
}


@media screen and (max-width: 515px) {
  .mat-drawer {
    width: 60px;
  }
}
