@if (showSideNav){
  <div class="page-container">
    <mat-toolbar>
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <profile-profile></profile-profile>
    </mat-toolbar>
    <div class="layout-box">
      <mat-sidenav-container #sidenav>
        <mat-sidenav mode="side" opened [style.width]="sideNavWidth()">
          <side-nav-side-navigation [collapsed]="collapsed()" (newEvent)="collapsed.set(!collapsed())"></side-nav-side-navigation>
        </mat-sidenav>
        <mat-sidenav-content class="router" [style.margin-left]="sideNavWidth()">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}
