@if (showSideNav){
  <div class="page-container">
    <mat-toolbar>
      <img src="/assets/Spotify_Logo_RGB_Black.png">
      <profile-profile></profile-profile>
    </mat-toolbar>
    <div class="layout-box">
      <mat-sidenav-container #sidenav>
        <mat-sidenav class="sidebar" mode="side" opened>
          <side-nav-side-navigation></side-nav-side-navigation>
        </mat-sidenav>
        <mat-sidenav-content class="router">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}
